#image-box {
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#image-box img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
}

#profile-box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e9ecef;
  margin-top: 8px;
  padding: 16px;
}
#profile-box img {
  width: 50px;
  height: 50px;
}
#profile-box span {
  font-size: 15px;
  font-weight: 800;
  margin-left: 8px;
}

#contents-box {
  padding: 16px;
}
#name {
  font-size: 20px;
  font-weight: 400;
}
#price {
  font-size: 16px;
  font-weight: 600;
  margin: 3px 0;
}
#createdAt {
  font-size: 12px;
  color: rgb(204, 204, 204);
}
#description {
  margin-top: 16px;
  font-size: 16px;
}

#purchase-button {
  margin: 10px 0 16px 0;
}
